<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AAO_AdminPanel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <div id="user-name">Alex Andersen</div>
        <div id="user-menu">
            <a href="#">Log ud</a>
        </div>
    </header>

    <nav class="side-nav">
        <a id="logo" href="/">
            <img src="~/img/AAlogo.svg" />
            <p>Alex Andersen Ølund</p>
        </a>
        <ul>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="CreateTrip">Opret tur</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Afløser oversigt</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Trips">Oprettede ture</a>
            </li>
            <li>
                <a href="/">Tildelte Ture</a>
            </li>
        </ul>
        <div class="side-menu-collapse"><a href="#">Minimer Menu</a></div>
    </nav>
    
    <div class="move-left">
        <main>
            @RenderBody()
        </main>
    </div>

  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
