
/// <reference path="../style/_var.scss" /
/// <reference path="../style/_buttons.scss" /
/// <reference path="../style/_global.scss" /
/// <reference path="../style/_table.scss" /


/*button from loginpage*/

.loginBtn {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    background-color: #158a49 !important;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    color: white !important;
}

.submitBtn {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    background-color: #158a49 !important;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    color: white !important;
    border: none;
}

.centeringPagiDiv {
    display: flex;
    width: 100%;

    .pagiContainer {
        margin: auto;

        .pagination {
            li {

                button {
                    font-size: .8rem;
                    letter-spacing: 0.05rem;
                    padding: 8px 20px 8px 20px;
                    color: #158a49;

                    &:hover {
                        background-color: white;
                        border: white;
                        font-size: 1rem;
                        color: #158a49;
                        transition: font-size .5s;
                    }
                }

                .middelBtn {
                    font-size: .8rem;
                    letter-spacing: 0.05rem;
                    background-color: #158a49;
                    padding: 8px 20px 8px 20px;
                    border-radius: 5px;
                    color: white;
                    border: none;
                    opacity: 1;
                }
            }
        }
    }
}

.dropdown-btn {
    width: 100%;
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 18px 0 18px 25px;
    font-size: 12px;
    outline: 0;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    border: none;
    background-color: white;
    text-align: left;

    &:hover {
        color: #1abc9c;
    }

    .fa-list-alt {
        margin-right: 10px;
    }

    .fa-angle-down {
        float: right;
        margin-right: 15px;
    }
}

.w3-button {
    text-align: left !important;
    margin-left: 15px;
}



.w3-dropdown-click {
    display: flex !important;
    width: 100%;
    float: left;
    margin-top: 32px;






    h4 {
        font-size: 1.2rem;
    }

    .w3-dropdown-content {
        margin-left: 15px !important;
        margin-top: -21px !important;
        border: solid 1px rgba(0, 0, 0, 0.233) !important;
        width: 300px;

        &:hover {
            background-color: white !important;
        }
    }
}

.buttonadd {
    width: 100%;
    border-style: none;
    margin-bottom: 5px;
    height: 40px;
    border-radius: 5px;
    color: white;
}

.red {
    background-color: #dc2f43;
    }

    .darkgrey {
        background-color: #b4b2b2;
    }

    .darkgreen {
        background-color: #005140;
    }

    .ligthgreen {
        background-color: #00904a;
    }