

.rowdetail {
    display: none;
    -moz-transition: all 0.04s linear;
    -webkit-transition: all 0.04s linear;
    transition: all 0.04s linear;
}

.transition{

}

.rotate {
    -moz-transition: all 0.01s linear;
    -webkit-transition: all 0.01s linear;
    transition: all 0.01s linear;
}

.rotate-down {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  
 
}
.arrow1{
    min-width:40px;
}

.fa-sort-down {
   
  width:30px;
  padding: 2px 9px;
 
   
}

.form-group{
    margin-left: 10px !important;
    padding-left: 5px !important;
}


.table-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    width: 100%;
    padding: 2.5%;
    padding-bottom: 10px;

    table {
        border-collapse: collapse;
        width: 100%;
    }



    tr {
        border-bottom: 1px solid #808080;

        th {
            text-align: left;

            .sort-link {
                text-decoration: none;
                font-weight: 600;
                font-size: 14px;
                border-color: transparent;
                box-shadow: none;
                background-color: transparent;

                span {
                    color: #00904a;
                }
            }

            td {
                text-align: left;
            }
        }

        table tbody tr:last-child {
            border-bottom: none;
        }

        .showmore:hover {
            background-color: #fcfcfc;
        }

        .rowdetail {
            display: none;
            background-color: rgba(211, 211, 211, 0.24);
            border-color: white;
            transition-duration: 2s;
            transition-timing-function: linear;

            td {
                .descriptioncontaniner {
                    text-align: left;
                    padding: 40px;
                    display: grid;
                    grid-template-columns: 5% 70% 15% 5%;

                    h3 {
                        grid-column: 2/3;
                        grid-row: 1/2;
                    }

                    .descriptiontext {
                        grid-column: 2/3;
                        grid-row: 2/3;
                    }

                    .btn-grouptable {
                        grid-column: 3/4;
                        grid-row: 1/3;
                        display: grid;
                        grid-template-columns: 100%;


                        .red {
                            background-color: #dc2f43;
                            align-self: end;
                        }

                        .darkgrey {
                            background-color: #b4b2b2;
                        }

                        .darkgreen {
                            background-color: #005140;
                        }

                        button {
                            width: 100%;
                            border-style: none;
                            margin-bottom: 5px;
                            height: 40px;
                            border-radius: 5px;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}


















.button-green {
    border: none;
    border-radius: 5px;
    padding: 3px 2px;
    font-size: 12px;
    color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #00904A;
    width: 90%;
    margin: 10px;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}



.filter:hover .dropdown-content {
    display: block;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &:hover {
            background-color: #ddd;
        }
    }
}


.triggers {
    button {
        background-color: #075243;
        color: white;
        padding: 3.5px 10px 3.5px 10px;

        .i .fa-angle-right {
            line-height: 50px;
        }
    }

    .pagination {
        border: #075243 1px solid;
        padding: 2px 10px 4.5px 10px;
        height: 100;
        font-size: 14px;
    }
}
