@model AAO_AdminPanel.Models.Request

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RequestID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
