@{
    ViewData["Title"] = "Opret en tur";
}
<h1>@ViewData["Title"]</h1>

<div class="CreateTripFlex">
    <div>
        <label>Start Dato</label>
        <input type="date"/>
    </div>

    <div>
        <label>Beskrivelse</label>
        <input placeholder="Skriv her..." />
        <button class="CreateTripBtn">Opret en tur</button>
    </div>
</div>



<p>Use this page to detail your site's privacy policy.</p>
