

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table>
    <thead>
        <tr>
            <th>Start dato</th>
            <th>Slut dato</th>
            <th>Start tid</th>
            <th>Varighed</th>
            <th>Trafik</th>
            <th>Afdeling</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>