@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script defer type="text/javascript">


</script>

<style>

    main {
        margin-left: 4%;
        margin-right: 4%;
    }
    .rowdetail {
        display: none;
        background-color: #A7D8C0;
        border-color: white;
    }

        .rowdetail tr {
           border-bottom: 1px solid white;
        }

    .table-container {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width:100%;
        padding: 2.5%;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    tr {
        border-bottom: 1px solid #808080;
    }

    th {
        text-align: center;
    }

    td {
        text-align: center;
    }

    .more-info{
        padding: 10px 10px;
      
    }

    .showmore {
        
        
    }


    .rotate {
        -moz-transition: all 0.01s linear;
        -webkit-transition: all 0.01s linear;
        transition: all 0.01s linear;
    }

        .rotate.down {
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    .fa-sort-down {
        padding: 10px 10px;
        font-size: 18px;
        text-align: center;
        justify-self: center;
    }


    .thead-green {
        background-color: #00904A;
        color: white;
    }

    .button-green-container{
        display:inline-grid;
        align-items:center;
        justify-items: center;
    }

    .button-green {
        border: none;
        border-radius: 5px;
        padding: 3px 2px;
        font-size: 12px;
        color: white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: #00904A;
        width: 90%;
        margin: 10px;
        cursor:pointer;
        
    }

    .button-green:hover {
        opacity: 0.7;
    }

    .filter:hover .dropdown-content {
        display: block;
    }
    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }





</style>
<h1>Oprettede ture</h1>

<div class="filter">
    Filtrer <i class="fas fa-sort-down rotate" data-toggle="tooltip" title="Sorter i oprettede ture efter forskellige paramentere"></i>
    <div class="dropdown-content">
        <a href="#">Odense</a>
        <a href="#">National</a>
        <a href="#">International</a>
    </div>
</div>

<div class="table-container">



    <table>
        <thead>
            <tr>
                <th> </th>
                <th>Start dato</th>
                <th>Slut dato</th>
                <th>Start tid</th>
                <th>Varighed</th>
                <th>Trafik</th>
                <th>Afdeling</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="showmore">
                <td><input type="checkbox" id="tablecheck"></td>
                <td>25/06/2021</td>
                <td>26/06/2021</td>
                <td>07.00</td>
                <td>5 timer</td>
                <td>DK - DK</td>
                <td>Odense Blomster</td>
                <td>Ikke tildelt</td>
                <td> <a  class="more-info" href="#"><i  class="fas fa-ellipsis-v" data-toggle="tooltip" title="Flere muligheder"></i></a></td>
                <td>

                    <a class="showmore"> <i class="fas fa-sort-down rotate" data-toggle="tooltip" title="Se mulige chauførrer"></i> </a>
                   
                </td>

            </tr>
            <tr class="rowdetail">
                <td colspan="10">
                    <table>
                        <thead class="moreshown thead-green">
                            <tr>
                                <th>Navn </th>
                                <th>Tlf. Nr. </th>
                                <th>Mail </th>
                                <th>Kørekort </th>
                                <th>Vælg chauffør </th>
                                <th> Godkend chauffør </th>

                            </tr>
                        </thead>

                        <tbody class="tb-green">
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr rowspan="3">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="button-green-container">
                                        <div id="submit-drivers-to-trip" class="button-green"> Godkend ændringer</div>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </td>


            </tr>


            <tr class="showmore">
                <td><input type="checkbox" id="tablecheck"></td>
                <td>25/06/2021</td>
                <td>26/06/2021</td>
                <td>07.00</td>
                <td>5 timer</td>
                <td>DK - DK</td>
                <td>Odense Blomster</td>
                <td>Ikke tildelt</td>
                <td> <a class="more-info" href="#"><i class="fas fa-ellipsis-v" data-toggle="tooltip" title="Flere muligheder"></i></a></td>
                <td> <a class="showmore"> <i class="fas fa-sort-down rotate " data-toggle="tooltip" title="Se mulige chauførrer"></i> </a></td>

            </tr>
            <tr class="rowdetail">
                <td colspan="10">
                    <table>
                        <thead class="moreshown thead-green">
                            <tr>
                                <th>Navn </th>
                                <th>Tlf. Nr. </th>
                                <th>Mail </th>
                                <th>Kørekort </th>
                                <th>Vælg chauffør </th>
                                <th> Godkend chauffør </th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr rowspan="3">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="button-green-container">
                                        <div id="submit-drivers-to-trip" class="button-green"> Godkend ændringer</div>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </td>


            </tr>



            <tr class="showmore">
                <td><input type="checkbox" id="tablecheck"></td>
                <td>25/06/2021</td>
                <td>26/06/2021</td>
                <td>07.00</td>
                <td>5 timer</td>
                <td>DK - DK</td>
                <td>Odense Blomster</td>
                <td>Ikke tildelt</td>
                <td> <a class="more-info" href="#"><i class="fas fa-ellipsis-v" data-toggle="tooltip" title="Flere muligheder"></i></a></td>
                <td> <a class="showmore" > <i class="fas fa-sort-down rotate" data-toggle="tooltip" title="Se mulige chauførrer"></i> </a></td>

            </tr>
            <tr class="rowdetail">
                <td colspan="10">
                    <table>
                        <thead class="moreshown thead-green">
                            <tr>
                                <th>Navn </th>
                                <th>Tlf. Nr. </th>
                                <th>Mail </th>
                                <th>Kørekort </th>
                                <th>Vælg chauffør </th>
                                <th> Godkend chauffør </th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>

                            <tr rowspan="3">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="button-green-container">
                                        <div id="submit-drivers-to-trip" class="button-green"> Godkend ændringer</div>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </td>


            </tr>



            <tr class="showmore">
                <td><input type="checkbox" id="tablecheck"></td>
                <td>25/06/2021</td>
                <td>26/06/2021</td>
                <td>07.00</td>
                <td>5 timer</td>
                <td>DK - DK</td>
                <td>Odense Blomster</td>
                <td>Ikke tildelt</td>
                <td><a class="more-info" href="#"><i class="fas fa-ellipsis-v" data-toggle="tooltip" title="Flere muligheder"></i></a></td>
                <td> <a class="showmore"> <i class="fas fa-sort-down rotate" data-toggle="tooltip" title="Se mulige chauførrer"></i> </a></td>

            </tr>
            <tr class="rowdetail">
                <td colspan="10">
                    <table>
                        <thead class="moreshown thead-green">
                            <tr>
                                <th>Navn </th>
                                <th>Tlf. Nr. </th>
                                <th>Mail </th>
                                <th>Kørekort </th>
                                <th>Vælg chauffør </th>
                                <th> Godkend chauffør </th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr rowspan="3">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="button-green-container">
                                        <div id="submit-drivers-to-trip" class="button-green"> Godkend ændringer</div>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </td>


            </tr>


            <tr class="showmore">
                <td><input type="checkbox" id="tablecheck"></td>
                <td>25/06/2021</td>
                <td>26/06/2021</td>
                <td>07.00</td>
                <td>5 timer</td>
                <td>DK - DK</td>
                <td>Odense Blomster</td>
                <td>Ikke tildelt</td>
                <td><a class="more-info" href="#"><i class="fas fa-ellipsis-v" data-toggle="tooltip" title="Flere muligheder"></i></a></td>
                <td> <a class="showmore"> <i class="fas fa-sort-down rotate" data-toggle="tooltip" title="Se mulige chauførrer"></i> </a></td>

            </tr>
            <tr class="rowdetail">
                <td colspan="10">
                    <table>
                        <thead class="moreshown thead-green">
                            <tr>
                                <th>Navn </th>
                                <th>Tlf. Nr. </th>
                                <th>Mail </th>
                                <th>Kørekort </th>
                                <th>Vælg chauffør </th>
                                <th> Godkend chauffør </th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr class="moreshown">
                                <td>Hans</td>
                                <td> 37 48 38 48</td>
                                <td> Hans@gmail.com </td>
                                <td>Alle</td>
                                <td><input type="checkbox" id="PickDriver"></td>
                                <td><input type="checkbox" id="ValidateDriver"></td>
                            </tr>
                            <tr rowspan="3">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="button-green-container">
                                        <div id="submit-drivers-to-trip" class="button-green"> Godkend ændringer</div>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </td>


            </tr>



        </tbody>
    </table>

</div>


