@page
@model LoginModel

@{
    ViewData["Title"] = "Log ind";
    
}

<div class="login-container">
        <div class="login">
            <div class="login-head">
                <img src="https://www.alex-andersen.dk/cdn/assets/aalogo-square.db4301db.png" />
                <h2>Alex Andersen</h2>
                <h1>Afløser app</h1>
            </div>

            <form id="account" method="post">
                <div class="login-form">
                    <label asp-for="Input.Username"></label><br />
                    <input asp-for="Input.Username" class="form-control" /><br />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="login-form">
                    <label asp-for="Input.Password"></label><br />
                    <input asp-for="Input.Password" class="form-control" /><br />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <br />
                <div class="btn-container">
                    <button type="submit" class="btn-left">Log ind</button>
                    <button class="btn-right">Hjælp</button>
                </div>
            </form>
        </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
