@model AAO_AdminPanel.Models.TripModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TripModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDateAndTime" class="control-label"></label>
                <input asp-for="StartDateAndTime" class="form-control" />
                <span asp-validation-for="StartDateAndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StopDate" class="control-label"></label>
                <input asp-for="StopDate" class="form-control" />
                <span asp-validation-for="StopDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactID" class="control-label"></label>
                <input asp-for="ContactID" class="form-control" />
                <span asp-validation-for="ContactID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionOfTrip" class="control-label"></label>
                <input asp-for="DescriptionOfTrip" class="form-control" />
                <span asp-validation-for="DescriptionOfTrip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrafficID" class="control-label"></label>
                <input asp-for="TrafficID" class="form-control" />
                <span asp-validation-for="TrafficID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentID" class="control-label"></label>
                <input asp-for="DepartmentID" class="form-control" />
                <span asp-validation-for="DepartmentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusID" class="control-label"></label>
                <input asp-for="StatusID" class="form-control" />
                <span asp-validation-for="StatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeID" class="control-label"></label>
                <input asp-for="TypeID" class="form-control" />
                <span asp-validation-for="TypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
