body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; }

main {
  margin: 80px; }

/*sidenav*/
.sidebar-toggle {
  margin-left: -240px; }

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 240px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 100; }
  .sidebar .logo {
    width: 50%;
    margin: 50px 0 20px 50px; }
  .sidebar .btn {
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 18px 0 18px 25px;
    font-size: 12px;
    outline: 0;
    width: 100% !important;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in; }
    .sidebar .btn:hover {
      color: #1abc9c !important; }
  .sidebar .sidebar, .sidebar .closebtn {
    position: absolute;
    padding: 12px;
    right: 9px;
    font-size: 20px;
    margin-left: 50px;
    text-decoration: none;
    color: black;
    display: inline-flex; }
    .sidebar .sidebar p, .sidebar .closebtn p {
      font-size: 12px; }
    .sidebar .sidebar .fas, .sidebar .closebtn .fas {
      padding-left: 10px; }
  .sidebar #leftside-navigation ul, .sidebar #leftside-navigation ul ul {
    margin: -2px 0 0;
    padding: 0; }
  .sidebar #leftside-navigation .under-list {
    padding-left: 55px; }
  .sidebar #leftside-navigation ul li {
    list-style-type: none; }
    .sidebar #leftside-navigation ul li.active > a {
      color: #00904a; }
    .sidebar #leftside-navigation ul li.active ul {
      display: block; }
    .sidebar #leftside-navigation ul li a {
      color: #000000;
      text-decoration: none;
      display: block;
      padding: 18px 0 18px 25px;
      font-size: 12px;
      outline: 0;
      -webkit-transition: all 200ms ease-in;
      -moz-transition: all 200ms ease-in;
      -o-transition: all 200ms ease-in;
      -ms-transition: all 200ms ease-in;
      transition: all 200ms ease-in; }
      .sidebar #leftside-navigation ul li a:hover {
        color: #00904a; }
      .sidebar #leftside-navigation ul li a span {
        display: inline-block; }
      .sidebar #leftside-navigation ul li a i {
        width: 20px; }
        .sidebar #leftside-navigation ul li a i .fa-angle-left, .sidebar #leftside-navigation ul li a i .fa-angle-right {
          padding-top: 3px; }

ul ul {
  display: none; }
  ul ul li {
    background: #23313f;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-bottom: none; }
    ul ul li a {
      font-size: 12px;
      padding-top: 13px;
      padding-bottom: 13px;
      color: #aeb2b7; }

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px; }
  .sidebar a {
    font-size: 18px; } }

/*sidenav end*/
/*header*/
header {
  background-color: #075243;
  height: 40px;
  display: grid !important;
  grid-template-columns: 15% 70% 15%; }
  header header a:hover, header header .btn-link:hover {
    color: #00904a;
    text-decoration: none; }
  header .user-name {
    text-align: end;
    grid-column: 3/4;
    padding: 7px;
    color: white; }
  header p {
    color: white; }
  header .sub-menu {
    grid-column: 1/2;
    display: inline-flex; }
    header .sub-menu .openbtn {
      font-size: 20px;
      cursor: pointer;
      padding: 12px;
      border: none;
      text-align: center;
      display: inline-flex; }
      header .sub-menu .openbtn p {
        font-size: 12px; }
      header .sub-menu .openbtn .fas {
        color: white;
        justify-self: center;
        text-align: center;
        padding-left: 10px; }
  header li {
    list-style-type: none;
    margin-top: 10px;
    width: 100%;
    text-align: end; }
    header li a {
      text-decoration: none;
      color: white;
      margin-right: 5px; }
    header li .fa-user {
      color: white;
      padding-right: 10px;
      margin-left: 10px; }

#main {
  transition: margin-left .5s;
  padding: 20px; }

.mainContent {
  left: 240px; }

#mainContent {
  margin-left: 320px; }
  #mainContent .HeadlinePage {
    margin-left: 10px;
    font-weight: bold; }

/*button from loginpage*/
.loginBtn {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  background-color: #158a49 !important;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  color: white !important; }

.submitBtn {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  background-color: #158a49 !important;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  color: white !important;
  border: none; }

.centeringPagiDiv {
  display: flex;
  width: 100%; }
  .centeringPagiDiv .pagiContainer {
    margin: auto; }
    .centeringPagiDiv .pagiContainer .pagination li button {
      font-size: .8rem;
      letter-spacing: 0.05rem;
      padding: 8px 20px 8px 20px;
      color: #158a49; }
      .centeringPagiDiv .pagiContainer .pagination li button:hover {
        background-color: white;
        border: white;
        font-size: 1rem;
        color: #158a49;
        transition: font-size .5s; }
    .centeringPagiDiv .pagiContainer .pagination li .middelBtn {
      font-size: .8rem;
      letter-spacing: 0.05rem;
      background-color: #158a49;
      padding: 8px 20px 8px 20px;
      border-radius: 5px;
      color: white;
      border: none;
      opacity: 1; }

.dropdown-btn {
  width: 100%;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 18px 0 18px 25px;
  font-size: 12px;
  outline: 0;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  border: none;
  background-color: white;
  text-align: left; }
  .dropdown-btn:hover {
    color: #1abc9c; }
  .dropdown-btn .fa-list-alt {
    margin-right: 10px; }
  .dropdown-btn .fa-angle-down {
    float: right;
    margin-right: 15px; }

.w3-button {
  text-align: left !important;
  margin-left: 15px; }

.w3-dropdown-click {
  display: flex !important;
  width: 100%;
  float: left;
  margin-top: 32px; }
  .w3-dropdown-click h4 {
    font-size: 1.2rem; }
  .w3-dropdown-click .w3-dropdown-content {
    margin-left: 15px !important;
    margin-top: -21px !important;
    border: solid 1px rgba(0, 0, 0, 0.233) !important;
    width: 300px; }
    .w3-dropdown-click .w3-dropdown-content:hover {
      background-color: white !important; }

.buttonadd {
  width: 100%;
  border-style: none;
  margin-bottom: 5px;
  height: 40px;
  border-radius: 5px;
  color: white; }

.red {
  background-color: #dc2f43; }

.darkgrey {
  background-color: #b4b2b2; }

.darkgreen {
  background-color: #005140; }

.ligthgreen {
  background-color: #00904a; }

.rowdetail {
  display: none;
  -moz-transition: all 0.04s linear;
  -webkit-transition: all 0.04s linear;
  transition: all 0.04s linear; }

.rotate {
  -moz-transition: all 0.01s linear;
  -webkit-transition: all 0.01s linear;
  transition: all 0.01s linear; }

.rotate-down {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.arrow1 {
  min-width: 40px; }

.fa-sort-down {
  width: 30px;
  padding: 2px 9px; }

.form-group {
  margin-left: 10px !important;
  margin-right: 10px !important;
  padding-left: 5px !important; }

.table-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
  width: 100%;
  padding: 2.5%;
  padding-bottom: 10px; }
  .table-container table {
    border-collapse: collapse;
    width: 100%; }
  .table-container tr {
    border-bottom: 1px solid #808080; }
    .table-container tr th {
      text-align: left; }
      .table-container tr th .sort-link {
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
        border-color: transparent;
        box-shadow: none;
        background-color: transparent; }
        .table-container tr th .sort-link span {
          color: #00904a; }
      .table-container tr th td {
        text-align: left; }
    .table-container tr table tbody tr:last-child {
      border-bottom: none; }
    .table-container tr .showmore:hover {
      background-color: #fcfcfc; }
    .table-container tr .rowdetail {
      display: none;
      background-color: rgba(211, 211, 211, 0.24);
      border-color: white;
      transition-duration: 2s;
      transition-timing-function: linear; }
      .table-container tr .rowdetail td .descriptioncontaniner {
        text-align: left;
        padding: 40px;
        display: grid;
        grid-template-columns: 5% 70% 15% 5%; }
        .table-container tr .rowdetail td .descriptioncontaniner h3 {
          grid-column: 2/3;
          grid-row: 1/2; }
        .table-container tr .rowdetail td .descriptioncontaniner .descriptiontext {
          grid-column: 2/3;
          grid-row: 2/3;
          max-width: 40vw; }
        .table-container tr .rowdetail td .descriptioncontaniner .btn-grouptable {
          grid-column: 3/4;
          grid-row: 1/3;
          display: grid;
          grid-template-columns: 100%; }
          .table-container tr .rowdetail td .descriptioncontaniner .btn-grouptable .red {
            background-color: #dc2f43;
            align-self: end; }
          .table-container tr .rowdetail td .descriptioncontaniner .btn-grouptable .darkgrey {
            background-color: #b4b2b2; }
          .table-container tr .rowdetail td .descriptioncontaniner .btn-grouptable .darkgreen {
            background-color: #005140; }
          .table-container tr .rowdetail td .descriptioncontaniner .btn-grouptable button {
            width: 100%;
            border-style: none;
            margin-bottom: 5px;
            height: 40px;
            border-radius: 5px;
            color: white; }

.button-green {
  border: none;
  border-radius: 5px;
  padding: 3px 2px;
  font-size: 12px;
  color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #00904A;
  width: 90%;
  margin: 10px;
  cursor: pointer; }
  .button-green:hover {
    opacity: 0.7; }

.filter:hover .dropdown-content {
  display: block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
    .dropdown-content a:hover {
      background-color: #ddd; }

.triggers button {
  background-color: #075243;
  color: white;
  padding: 3.5px 10px 3.5px 10px; }
  .triggers button .i .fa-angle-right {
    line-height: 50px; }

.triggers .pagination {
  border: #075243 1px solid;
  padding: 2px 10px 4.5px 10px;
  height: 100;
  font-size: 14px; }
