.white-text {
    color: #fff;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows:2em auto;
    height:50vw;
}

.side-nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

header, main {
    grid-column-start: 2;
    grid-column-end: 7;
}



header {
    background-color: #005140;
    color: #fff;
    text-align: right;
    padding: .2em 1em;
}


    header a:hover, header .btn-link:hover {
        color: #00904a;
        text-decoration: none;
    }

.user-menu {
    display: none;
    position: absolute;
    top: 1.6em;
    right: 0;
    padding: 1em;
    background-color: #005140;
}
    .user-menu a {
        color: #fff;
    }
.user-menu a{display:block; padding: 1em; text-align:center;}
.user-name:hover + .user-menu, .user-menu:hover{display:inline-block;}



main {margin-top: 4em;
      margin-left:10%; margin-right:10%;
}


.side-nav {
    background-color: #fff;
/*    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;*/
    box-shadow: 1px 0em 7px 0px grey;
    padding:2em .5em 0 .5em;
    z-index: 1000;
    text-align: center;
}
.side-nav ul{padding:0;}
    .side-nav li {
        text-align: left;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 5fr 1fr;
    }

.side-nav a{
    text-decoration:none;
    color:#000;
}

#logo{
    
}

#logo img{
    width:50%;
}
