@model IEnumerable<AAO_AdminPanel.Models.Request>


<div class="modal fade" id="editDrivers">
    <div class="modal-dialog">
        <div class="modal-context">
            <div class="modal-header">
                <h4 class="modal-title" id="#editDrivers">Edit Drivers</h4>
                <button type="button" class="close" data-dissmiss="modal">
                    <span>x</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="EditDrivers">
                    <div class="form-group">
                        <label></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>