<div class="col-md-5 col-md-offset-3">
    <div class="modal-header">
        <button style="background-color:red;" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"> &times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel"></h5>
    </div>
    <form>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button class="btn btn-lg btn-success">Save</button>
        </div>
    </form>
</div>
